bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.DS_Store
.idea
.git
/Properties
/FullStackTechTest/Properties/launchSettings.json
/.vs/FullStackTechTest/config/applicationhost.config
/.vs/FullStackTechTest/DesignTimeBuild
/.vs/FullStackTechTest/DesignTimeBuild/.dtbcache.v2
/.vs/FullStackTechTest/FileContentIndex
/.vs/FullStackTechTest/FileContentIndex/06f4e2f9-0d34-42bc-b786-cb3633f24f71.vsidx
/.vs/FullStackTechTest/FileContentIndex/8321e457-e8b5-41f2-af7f-05f9c75e843b.vsidx
/.vs/FullStackTechTest/FileContentIndex/9a24819e-72c2-4c68-8ec3-684b1a86010a.vsidx
/.vs/FullStackTechTest/FileContentIndex/9ff6e6a5-61ea-48d1-94f4-f23ce3b14236.vsidx
/.vs/FullStackTechTest/FileContentIndex/b1c75197-e451-413b-837a-992e21ea4773.vsidx
/.vs/FullStackTechTest/v17
/.vs/FullStackTechTest/v17/.futdcache.v2
/.vs/FullStackTechTest/v17/.suo
/.vs/FullStackTechTest/v17/.wsuo
/.vs/FullStackTechTest/v17/DocumentLayout.json
/.vs/FullStackTechTest/v17/HierarchyCache.v1.txt
/.vs/ProjectEvaluation
/.vs/ProjectEvaluation/fullstacktechtest.metadata.v8.bin
/.vs/ProjectEvaluation/fullstacktechtest.projects.v8.bin
/.vs/ProjectEvaluation/fullstacktechtest.strings.v8.bin
/.vs/VSWorkspaceState.json
