@model FullStackTechTest.Models.Home.IndexViewModel

@{
    ViewData["Title"] = "Upload Data";
}

<div class="container">
    <a href="@Url.Action("Index")" class="btn btn-primary" role="button">Back</a>
    <a href="@Url.Action("DeserializeJsonResult")" class="btn btn-primary" role="button">Upload External Data</a>

</div>